:root {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgba(58, 63, 65, 0.53);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1 {
    color: rgba(86, 86, 86, 0.318);
    margin: 10px 0;
}

main {
    width: 500px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(169, 205, 215);
}

form {
    width: 60%;
    padding: 10px 50px 10px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    color: white;
    padding: 5px 0;
    font-size: .8rem;
}

input {
    background-color: rgba(86, 86, 86, 0.318);
    border: none;
    border-radius: 8px;
    height: 1.5rem;
    color: white;
    font-size: 1rem;
    padding-left: 10px;
    font-weight: 600;
}

.label_result {
    width: 100%;
    font-weight: 500;
}

.radio_operador {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 0 5px;
}

.radio_operador div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    height: 2.5rem;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    color: white;
    font-size: 1.8rem;
    background-color: rgba(86, 86, 86, 0.318);
    cursor: pointer;
}

.resultado {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result_span {
    background-color: rgba(86, 86, 86, 0.318); 
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    font-size: 2rem;
    display: flex;   
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(169, 205, 215)
    }
    main {
        width: 100%;
        height: 100%;
        margin: none;
    }
}
